{% extends "base.html" %}

{% load static %}

{% block content %}

    <h3>Settings</h3>
    <div class="container">
        <div class="btn-group-vertical">
            <label>Bug Tracker Options</label><br/>
            <button class="btn btn-outline-secondary"><a href="{% url 'settings:bug_status' %}">Bug Statuses</a></button><br/>
            <button class="btn btn-outline-secondary"><a href="{% url 'settings:bug_priority' %}">Bug Priorities</a></button><br/>
            <button class="btn btn-outline-secondary"><a href="{% url 'settings:bug_category' %}">Bug Categories</a></button><br/>
            <br/>
            <label>To Do List Options</label><br/>
            <button class="btn btn-outline-secondary"><a href="{% url 'settings:td_status' %}">ToDo Statuses</a></button><br/>
            <button class="btn btn-outline-secondary"><a href="{% url 'settings:td_priority' %}">ToDo Priorities</a></button><br/>
            <br/>
            <label>Linked Tasks Options</label><br/>
            <button class="btn btn-outline-secondary"><a href="{% url 'settings:lt_status' %}">Linked Tasks Statuses</a></button><br>
            <button class="btn btn-outline-secondary"><a href="{% url 'settings:lt_category' %}">Linked Tasks Categories</a></button><br/>
            <button class="btn btn-outline-secondary"><a href="{% url 'settings:t_rank' %}">Linked Tasks Ranks</a></button><br/>
            <button class="btn btn-outline-secondary"><a href="{% url 'settings:t_status' %}">Tasks Statuses</a></button><br/>
            <br/>
            <label>Knowledge Base Options</label><br/>
            <button class="btn btn-outline-secondary"><a href="{% url 'settings:kb_type' %}">KB Type</a></button><br/>
        </div>
    </div>
    <div class="row">
        <div class="mt-4">
            <br>
            <a href="{% url 'home' %}"><button class="btn btn-primary">Back</button></a>
        </div>
    </div>
{% endblock %}
