{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container">
        <caption> {{ entry.attached_to.name }}'s Attachment </caption>
        <div class="row">
            <a href="{% url 'issues:bug_attachments' pk %}"><button class="btn btn-outline-secondary btn-sm">Back</button></a>
            <a href="{% url 'issues:add_attached' pk %}"><button class="btn btn-outline-primary btn-sm">Add</button></a>
        </div>
        <div class="container" style="background-color: #DCDCDC;">
            <div>
                <label>Document Name: </label><br/>
                <span>{{ entry.file_name }}</span>
            </div>
            <br/>
            <div>
                <label>File: </label><br/>
                <span>{{ entry.file }}</span>
            </div>
            <br/>
            <div>
                <label>Uploaded At: </label><br/>
                <span>{{ entry.uploaded_at }}</span>
            </div>
        </div>
        <div class="row">
            <a href="{% url 'issues:update_attached' pk entry.id %}"><button class="btn btn-outline-warning btn-sm">Update</button></a>
            <a href="{% url 'issues:delete_attached' pk entry.id %}"><button class="btn btn-outline-danger btn-sm">Delete</button></a>
        </div>
    </div>
{% endblock %}