{% extends "base.html" %}

{% load static %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label>Summary:</label><br>
        <input type="text" name="name" value="{{ form.name }}"><br>
    </div>
    <div class="form-group">
        <label>Priority</label><br>
        <select name="priority">
            {% for priority in form.priority.queryset.readonly %}
            {% if priority.priority == bug.priority %}
            <option value="{{ priority.priority }}" selected>{{ priority.priority }}</option>
            {% else %}
            <option value="{{ priority.priority }}">{{ priority.priority }}</option>
            {% endif %}
            {% endfor %}
        </select><br>
    </div>
    <div class="form-group">
        <label>Description</label><br>
        <textarea style="border: 1px solid black;">{{ form.description }}</textarea><br>
    </div>
    <div class="form-group">
        <label>Status</label>
        {{ form.status }}
    </div>
    <div class="form-group">
        <label>Category</label>
        {{ form.category}}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="row">
    <a href="{% url 'issues:issues' %}"><button class="btn btn=primary">Cancel</button></a>
</div>
{% endblock %}